<!-- hex badge listing by jamesgoldie.dev, jan 2025-->

<%
  // wrap pairs of hexes
  let pairs = [];
  for (let i = 0; i < items.length; i += 2) {
    pairs.push([
      items[i],
      items[i + 1] ||  null]
    )
  }
%>

<style>
  .hex-listing-container {
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    --hex-width: 150px;
    --hex-height: calc(var(--hex-width) * 1.1547);
    --hex-margin: 4px;
    padding-inline-start: calc(var(--hex-width) * 0.5 - var(--hex-margin));
    padding-block-start: calc(0.25 * var(--hex-height) - 2 * var(--hex-margin));
  }

  .hex-listing-pair {
    display: inline-flex;
    align-items: start;
    height: calc(2 * var(--hex-height) + 2 * var(--hex-margin) - 0.25 * var(--hex-height));
    margin-inline-start: calc(var(--hex-width) * -0.5 + var(--hex-margin));
    margin-block-start: calc(-0.25 * var(--hex-height) + 2 * var(--hex-margin));
  }

  .hex-listing-container a {
    width: var(--hex-width);
    height: var(--hex-height);
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    display: inline-grid;
    place-content: center;
    text-align: center;
    text-decoration: none;
  }

  .hex-listing-container a > * {
    grid-area: 1 / 1;
  }


  .hex-listing-container a img {
    width: var(--hex-width);
    height: var(--hex-height);
    object-fit: cover;
  }

  .hex-listing-container a p {
    color: grey;
    font-size: 50%;
    align-self: center;
  }

  /* fallback when there's no image */

  .hex-listing-container a:not(has(img)) {
    background-color: #efefef;
  }

  .hex-listing-container a:nth-last-child(1) {
    margin-inline-start: calc(-0.5 * var(--hex-width) + var(--hex-margin));
    align-self: end;
  }
</style>

<ul class="hex-listing-container">
  <% for (const pair of pairs) { %>
    <li class="hex-listing-pair"><a class="hex-listing-item" href="<%- pair[0].path %>"><p><%= pair[0].title %></p><% if (pair[0].image) { %><img loading="lazy" src="<%- pair[0].image %>"><% } %></a><% if (pair[1] != null) {%><a class="hex-listing-item" href="<%- pair[1].path %>"><p><%= pair[1].title %></p><% if (pair[1].image) { %><img loading="lazy" src="<%- pair[1].image %>"><% } %></a><% } %></li>
  <% } %>
</ul>
